*,
body {
  scroll-behavior: smooth !important;
}

.swiper {
  padding: 200px 0;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  padding: 30px 10px;
  /* Center slide text vertically */
}

.swiper-pagination-progressbar-fill {
  border: 2px solid #fb8351;
}

.swiper-pagination-progressbar {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e1e1e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb8351;
  height: 120px;
  border-radius: 18px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb8351;
}

@media only screen and (max-width: 768px) {
  .swiper {
    width: 100%;
  }
}
