*,
body {
  scroll-behavior: smooth !important;
}

.swiper {
  padding: 200px 0;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  padding: 30px 10px;
  /* Center slide text vertically */
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #ff5733 !important; /* Change this to your desired color */
}

.swiper-pagination-progressbar-fill {
  border: 2px solid #fb8351;
}

.swiper-pagination-progressbar {
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px) {
  .swiper {
    width: 100%;
  }
}
